[submodule "library-java"]
	path = library-java
	url = git@github.com:bayudwiyansatria/library-java.git
	branch = master
	master = master
[submodule "library-php"]
	path = library-php
	url = git@github.com:bayudwiyansatria/library-php.git
	branch = master
	master = master
[submodule "library-python"]
	path = library-python
	url = git@github.com:bayudwiyansatria/library-python.git
	branch = master
	master = master
[submodule "library-c-plus"]
	path = library-c-plus
	url = git@github.com:bayudwiyansatria/library-c-plus.git
	branch = master
	master = master